body{
    background: #252B42;
}
header{
    width: 1440px;
    height: 888px;
}
.background{
    position: absolute;
    width: 1440px;
    height: 695px;
    left: 0px;
    top: 0px;
    background: linear-gradient(89.87deg, #000000 0.12%, #000000 0.13%, rgba(0, 0, 0, 0) 99.57%);
}
.container{
    position: absolute;
    width: 1322px;
    height: 91px;
    left: 59px;
    top: 0px;
}
#hero-cover{
    position: absolute;
left: 1440px;
right: -1440px;
top: 0px;
bottom: 193px;

background: "C:\Users\balno\.vscode\Web\laba3\#hero-cover.1.jpg";
transform: matrix(-1, 0, 0, 1, 0, 0);
}